# Ignore installed files and .deps and .libs temporaries
installed/
src/.deps/
src/.libs/
tests/.deps/

Makefile*

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# Build results
visualstudio/*/x64
visualstudio/*/*.sdf
visualstudio/*/*.suo
